@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Convergence&family=Montserrat:wght@300&family=Poppins&display=swap');
body{
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    background: linear-gradient(to right,rgb(255, 174, 0) 50%,#FFBB5C 50%);
}

:root{
    --head: calc(1rem + 5vw);
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    padding: 0rem 1rem;
    margin-right: 40px;
    color: white;
    background: #FFA41B;
}

.navbar ul{
    list-style: none;
}

.navbar ul li{
    display: inline-block;
    margin-left: 2rem;
    font-size: var(--text);
}

.navbar ul li a{
    text-decoration: none;
    color: white;
    border-bottom: 2px solid transparent;
}

.navbar ul li a:hover{
    color: yellow;
}

.navbar img{
    max-width: 100px;
    margin-top: 0.4rem;
}

@keyframes slide{
    from{
        transform: translateX(-100%);
    }
    to{
        transform: translateX(0%);
    }
}

@keyframes movedown{
    from{
        transform: translateY(-100%);
    }
    to{
        transform: translateY(0%);
    }
}

.main-content{
    width: 60%;
    padding-top: 100px;
    margin-left: 3rem;
    display: flex;
    align-items: center; 
    justify-content: space-around;
}

.image-indomie,.main-text{
    flex-basis: 50%;
}

.image-indomie{
    margin-top: 4rem;
    padding: 0%;
    margin-right: 6.5rem;
}

.image-indomie img{
    width: 70%;
    margin-right: 10rem;
    animation: movedown 1s ease-in-out;
}

.main-text h1{
    margin-left: 21rem;
    padding: 0;
    font-family: 'Convergence', sans-serif;
    animation: slide 1s ease-in-out;
}

.main-text p{
    margin-left: 9rem;
    padding: 0;
    position: center;
    font-size: 14px;
    animation: slide 1s ease-in;
}

.swiper{
    width: 20rem;
}

.swiper-slide{
    display: flex;
    align-items: center;
    justify-content: center;
}

.right{
    position: absolute;
    right: 8%;
    bottom: 40%;
    height: 50%;
}

.right img{
    width: 400px;
    height: 300px;
    margin-right: 1rem;
    margin-top: 15%;
    animation: movedown 1s ease-in-out;
}

.inner-box h3{
    margin-left: 10rem;
    padding: 0;
    font-family: 'Convergence', sans-serif;
    animation: slide 1s ease-in-out;
}

.inner-box p{
    font-size: 12px;
    animation: slide 1s ease-in-out;    
}